<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <h1><small>© Copyright Luca Mele & Ricardo Vögeli</small></h1>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="http://www.hsr.ch" target="_blank">HSR</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Battleship_(game)" target="_blank">Wiki</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>