<header class="header">
    <div class="menu">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Battleship <small>Awesome projekt from Gruppe 9</small></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="align">
                <li ng-show="layoutCtrl.isToShowAs(['admin', 'user', 'guest'])"><a ui-sref="home" class="button" ui-sref-active="active">Home</a></li>
                <li ng-show="layoutCtrl.isToShowAs(['admin', 'user'])"><a ui-sref="game" ui-sref-opts="{reload: true}" class="button" ui-sref-active="active">Game</a></li>
                <li ng-show="layoutCtrl.isToShowAs(['admin'])"><a ui-sref="admin" class="button" ui-sref-active="active">Admin</a></li>
                <li ng-show="layoutCtrl.isToShowAs(['admin', 'user', 'guest'])"><a ui-sref="login" class="button" ui-sref-active="active">{{ layoutCtrl.isGuest ? 'Login' : 'Logout' }}</a></li>
                <li ng-show="layoutCtrl.isToShowAs(['admin', 'user'])" class="username"><i class="fi-torso"></i> ({{ layoutCtrl.username }})</li>
            </ul>
        </section>
    </div>
        </nav>
    </div>
</header>