<div class="user-box">
    <div class="users" ng-repeat="(key, obj) in usrListCtrl.data  | orderBy:'name' ">
        <div class="row" ng-class="obj.isNew ? 'is-new': ''">
            <div class="columns small-9">
                <p><i class="fi-{{(obj.roles.join(', ') == 'admin' ? 'torso-business' : 'torso')}}"></i> {{obj.name}} <span>(<span>{{obj.roles.join(', ')}}</span>)</span></p>
            </div>
            <div class="columns small-3">
                <button ng-click="usrListCtrl.deleteUser(obj.id)" class="small red button round">Delete</button>
            </div>
        </div>
    </div>
</div>