$headBg: #3E68CE;

.activebutton {
  background-color: $headBg;
}
.round, .button{
  background:#333;
}
.hidden{
  display:none;
}
.header{
  .menu{
    background: $headBg;
  }
  .menu nav{
    max-width: 850px;
    margin: 0 auto;
  }
  padding-bottom: 20px;
  h1{
    font-size:18px;
    font-weight: bold;
  }
  small{
    font-size:10px;
    color:#fff;
  }
  .top-bar{
    background-color: $headBg;
  }
  .button{
    background-color: $headBg;
  }
  li:not(:last-child){
    border-right: 1px solid white;
    height:45px;
  }
  & a{
    background-color: $headBg;
  }
  .align{
    float:right;
  }
}
.top-bar-section ul li, .top-bar.expanded .title-area{
  background-color:$headBg;
}
@media #{$small-only} {
  .top-bar .button, .top-bar a.button { font-size: 18px; }
  .top-bar-section { width:60%; float:right; }
  .header{
    .align{
      .button{
        text-align: left;
      }
    }
  }
}
.username{
  color: white;
  padding: 0 7px;
}

button, .button{
  padding-top: 8px;
  padding-bottom: 8px;
}