$headBg: #3E68CE;

.activebutton {
  background-color: $headBg;
}
.round, .button{
  background:#333;
}
.hidden{
  display:none;
}
.header{
  padding-bottom: 20px;
  h1{
    font-size:18px;
    font-weight: bold;
  }
  small{
    font-size:10px;
    color:#fff;
  }
  .top-bar{
    background-color: $headBg;
  }
  .button{
    background-color: $headBg;
  }
  li:not(:last-child){
    border-right: 1px solid white;
    height:45px;
  }
  & a{
    background-color: $headBg;
  }
}
.top-bar-section ul li{
  background-color:$headBg;
}