.activebutton {
  background-color: #970b0e;
}
.round, .button{
  background:#333;
}
.hidden{
  display:none;
}
.header{
  padding-bottom: 20px;
  h1{
    font-size:18px;
    font-weight: bold;
  }
  .top-bar{
    background-color: #3E68CE;
  }
}