@mixin transitionAll($duration){
  -webkit-transition: all $duration ease-in-out;
  -moz-transition: all $duration ease-in-out;
  -o-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}

$shipBorder: #00d;
$shipBg: #959595;
$water: #6282ff;

h2{
  font-size: 2rem;
  margin: 10px;
}
.clear{
  clear:both;
}
.board{
  float: left;
  background-color:$water;
}
.ships{
  float: left;
}
.board-cell{
  float: left;
  cursor: pointer;
}
.water-cell{
  @include transitionAll(0.1s);
  background-color: $water;
  &:hover{
    background-color: scale-color($water, $lightness: 30%);
  }
}
.ship-cell{
  background-color: $shipBg;
  &.horizontal.first{
    border-top: 1px solid $shipBorder;
    border-left: 1px solid $shipBorder;
    border-bottom: 1px solid $shipBorder;
    border-top-left-radius:  40px 15px;
    border-bottom-left-radius:  40px 15px;
  }
  &.horizontal.middle{
    border-top: 1px solid $shipBorder;
    border-bottom: 1px solid $shipBorder;
  }
  &.horizontal.last{
    border-top: 1px solid $shipBorder;
    border-right: 1px solid $shipBorder;
    border-bottom: 1px solid $shipBorder;
    border-top-right-radius:  10px 5px;
    border-bottom-right-radius:  10px 5px;
  }
  &.horizontal.single{
    border: 1px solid $shipBorder;
    border-top-left-radius:  40px 15px;
    border-bottom-left-radius:  40px 15px;
    border-top-right-radius:  10px 5px;
    border-bottom-right-radius:  10px 5px;
  }
  &.vertical.first{
    border-top: 1px solid $shipBorder;
    border-left: 1px solid $shipBorder;
    border-right: 1px solid $shipBorder;
    border-top-left-radius: 15px 40px;
    border-top-right-radius: 15px 40px;
  }
  &.vertical.middle{
    border-left: 1px solid $shipBorder;
    border-right: 1px solid $shipBorder;
  }
  &.vertical.last{
    border-left: 1px solid $shipBorder;
    border-bottom: 1px solid $shipBorder;
    border-right: 1px solid $shipBorder;
    border-bottom-left-radius:  10px 5px;
    border-bottom-right-radius:  10px 5px;
  }
  &.vertical.single{
    border: 1px solid $shipBorder;
    border-top-left-radius:  15px 40px;
    border-bottom-left-radius:  10px 5px;
    border-top-right-radius:  15px 40px;
    border-bottom-right-radius:  10px 5px;
  }
}
.buttons{
  width: 35%;
  //float: right;
  button{
    float: left;
    &.active{
      background-color: #970b0e;
    }
  }
}
.ship{
  height:20px;
  border: 1px solid $shipBorder;
  border-top-left-radius:  40px 15px;
  border-bottom-left-radius:  40px 15px;
  border-top-right-radius:  10px 5px;
  border-bottom-right-radius:  10px 5px;
  background-color: $shipBg;
  margin: 10px;
  display: block;
  overflow: hidden;
  padding-left: 2px;
  cursor: pointer;
  color: #FFF;
  font-size:15px;
  font-weight: bold;
  padding-top:  9px;
  text-align: center;
  &:hover{
    background-color: scale-color($shipBg, $lightness: 30%);
  }
  &.active{
    background-color: dimgrey;
    border: 2px solid darkgreen;
  }
  &.placed{
    background-color: lightgrey;
    font-style: italic;
    cursor: default;
  }
}
.ready--start{
  display: none;
}
.ready{
  .ready--start{
    margin: 5px;
    display: block;
  }
}
.status{
  position:absolute;
  top:0;
  right:0;
  color:#4d4d4d;
  font-size:12px;
}
.game-panel{
  padding:5px 0 0 10px;
  float: left;
  width: 35%;
}
@media #{$small-only} {
  .game-panel{ width: 100%; }
}