@mixin transitionAll($duration){
  -webkit-transition: all $duration ease-in-out;
  -moz-transition: all $duration ease-in-out;
  -o-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}

$shipBorder: #00d;
$shipBg: #959595;
$water: #6282ff;

h2{
  font-size: 2rem;
  margin: 10px;
}

.board{
  float: left;
  background-color:$water;
}
.ships{
  float: right;
}
.board-cell{
  float: left;
  cursor: pointer;
}
.water-cell{
  @include transitionAll(0.1s);
  background-color: $water;
  &:hover{
    background-color: scale-color($water, $lightness: 30%);
  }
}
.ship-cell{
  background-color: $shipBg;
  &.horizontal.first{
    border-top: 1px solid $shipBorder;
    border-left: 1px solid $shipBorder;
    border-bottom: 1px solid $shipBorder;
    border-top-left-radius: 1.7em;
    border-bottom-left-radius: 1.7em;
  }
  &.horizontal.middle{
    border-top: 1px solid $shipBorder;
    border-bottom: 1px solid $shipBorder;
  }
  &.horizontal.last{
    border-top: 1px solid $shipBorder;
    border-right: 1px solid $shipBorder;
    border-bottom: 1px solid $shipBorder;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  &.vertical.first{
    border-top: 1px solid $shipBorder;
    border-left: 1px solid $shipBorder;
    border-right: 1px solid $shipBorder;
    border-top-left-radius: 1.7em;
    border-top-right-radius: 1.7em;
  }
  &.vertical.middle{
    border-left: 1px solid $shipBorder;
    border-right: 1px solid $shipBorder;
  }
  &.vertical.last{
    border-left: 1px solid $shipBorder;
    border-bottom: 1px solid $shipBorder;
    border-right: 1px solid $shipBorder;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  &.single{
    border: 1px solid $shipBorder;
    border-radius: 1em;
  }
}
.buttons{
  width: 35%;
  float: right;
  button{
    &.active{
      background-color: #970b0e;
    }
  }
}
.ship{
  background-color: $shipBg;
  margin: 10px;
  display: block;
  overflow: hidden;
  padding-left: 2px;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  &:hover{
    background-color: scale-color($shipBg, $lightness: 30%);
  }
  &.active{
    background-color: dimgrey;
    border: 2px solid darkgreen;
  }
  &.placed{
    background-color: lightgrey;
    font-style: italic;
    cursor: default;
  }
}
.ready--start{
  display: none;
}
.ready{
  .ready--start{
    margin: 5px;
    display: block;
  }
}
