@mixin transitionAll($duration){
  -webkit-transition: all $duration ease-in-out;
  -moz-transition: all $duration ease-in-out;
  -o-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}

$shipBg: #959595;
$water: #6282ff;

.board{
  float: left;
}
.ships{
  float: right;
}
.board-cell{
  float: left;
  cursor: pointer;
}
.water-cell{
  @include transitionAll(0.1s);
  background-color: $water;
  &:hover{
    background-color: scale-color($water, $lightness: 30%);
  }
}
.ship-cell{
  background-color: $shipBg;
}
.buttons{
  width: 30%;
  float: right;
  button{
    &.active{
      background-color: #970b0e;
    }
  }
}

.ship{
  background-color: $shipBg;
  margin: 10px;
  display: block;
  overflow: hidden;
  padding-left: 2px;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  &:hover{
    background-color: scale-color($shipBg, $lightness: 30%);
  }
  &.active{
    background-color: dimgrey;
    border: 2px solid darkgreen;
  }
  &.placed{
    background-color: lightgrey;
    font-style: italic;
    cursor: default;
  }
}
