<div class="home" ng-controller="homeController as homeCtrl">
    <div class="row">
        <div class="large-8 columns" role="content">
            <h1>Battlehsip</h1>
            <div class="text">
                <h4>{{homeCtrl.welcome}}!</h4><br>
                <a href="#home/game"><img src="images/preview.jpg" width="300"></a>
                <p ng-show="homeCtrl.isGuest">
                    Are you ready for a fight over the seas and get into the top players list? Well then what are you waiting for,
                    register here: <a href="#register">Register</a>.<br><br>
                </p>
                <p ng-show="homeCtrl.isGuest">Do you have already an account? Here you can login: <a href="#login">Login</a></p>
                <p ng-hide="homeCtrl.isGuest">
                    Nice to see you again <span class="bold">{{homeCtrl.username}}</span>! Are you ready to be the sea King or Queen?
                    Join now a new game: <a href="#home/game">Start Now</a>!
                    <br>
                </p>
                <br/>
                <h4 class="text" >Rules:</h4><br>
                <p ><span class="bold">Players</span>: 2 players</p><br/>
                <p>
                    <span class="bold">Contents</span>: Each player gets a board, some ships and has to place them randomly on the board.
                    After all the ships have been placed, the player clicks start game.
                    <br> <br>
                    When two players have started the game and have been selected randomly from the system, they play against each other.
                    <br> <br>
                    The system assigns a turn randomly. Players try to guess the location of the enemy by clicking in empty water cells.
                    <br><br>
                    <span class="bold">Goal</span>: To sink all of your opponent's ships by correctly guessing their location.
                </p>
            </div>
        </div>
        <div class="large-4 columns" role="content">
            <h1>Top players</h1>
            <div class="stats">
                <table>
                    <thead>
                    <th>Username</th>
                    <th>Victories</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stat in homeCtrl.stats">
                        <td>{{stat.winner}}</td>
                        <td>{{stat.count}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


