<div class="login">
    <form ng-submit="loginCtrl.submit(data)" ng-controller="LoginController as loginCtrl">
        <div class="row">
            <div class="medium-6 columns"><label for="username">Username:</label></div>
            <div class="medium-6 columns"><input ng-model="data.username" minlength="3" id="username" placeholder="username" required /></div>
        </div>

        <div class="row">
            <div class="medium-6 columns"><label for="username">Password:</label></div>
            <div class="medium-6 columns"><input ng-model="data.password" minlength="3" id="password" type="password" placeholder="password" required /></div>
        </div>
        <div class="row">
            <div class="medium-3 columns"><button type="submit">Login</button></div>
        </div>
    </form>
</div>