.board{
  float:left;
}
.side{
  float:right;
  margin-left:20px;
}
h1{
  font-size:18px;
  font-weight: bold;
  padding-bottom: 15px;
}
.text{
  padding:20px 0;
}
.text img{
  float:right;
  margin:10px;
}
.stats{
  padding-bottom: 30px;
  li{
    padding: 3px 0;
  }
  table{
    width: 40%
  }
}
.topusers{
  width: 30%;
  float: right;
}
.content{
  width: 70%;
  float: left;
}