<div class="game" ng-class="gameBoardCtrl.idleTurn ? 'idle': ''">
    <h2>{{gameBoardCtrl.getStatusText(gameBoardCtrl.status)}}</h2>
    <p class="status">
        {{gameBoardCtrl.status_messages}}
    </p>
    <div ng-class="gameBoardCtrl.isReady ? 'ready': ''">
        <div class="board" ng-style="gameBoardCtrl.boardWidth">
            <div
                    ng-repeat="cell in gameBoardCtrl.cells"
                    class="board-cell"
                    ng-click="gameBoardCtrl.onCellClick(cell, $index)"
                    ng-class="cell.cellClassName"
                    ng-style="cell.cellStyle" >
            </div>
        </div>
        <div class="game-panel">
            <div class="buttons">
                <button ng-click="gameBoardCtrl.changeOrientation('horizontal')" ng-class="gameBoardCtrl.isHorizontal ? 'active': ''">Horizontal</button>
                <button ng-click="gameBoardCtrl.changeOrientation('vertical')" ng-class="!gameBoardCtrl.isHorizontal ? 'active': ''">Vertical</button>
                <button ng-click="gameBoardCtrl.deleteGame()">Delete Game</button>
            </div>
            <br class="clear">
            <div class="ships" ng-repeat="ship in gameBoardCtrl.ships">
                <div class="ship"
                     ng-class="ship.active ? 'active': '' || ship.placed ? 'placed': ''"
                     ng-style="ship.style"
                     ng-click="gameBoardCtrl.selectShip($index)">
                    {{ship.name}}
                </div>
            </div>

            <div class="ready--start">
                <button ng-click="gameBoardCtrl.start()">Search for Free Player and start</button>
            </div>
        </div>
    </div>
</div>

